{% extends "base.html" %}

{% block content %}
<section class="contact">
    <h1>Contact Me</h1>
    <p>If you’d like to collaborate, discuss an opportunity, or just say hello, feel free to reach out!</p>

   <!-- Contact Details -->
    <div class="contact-details">
        <div class="contact-item">
            <h3>Email</h3>
            <p> <a href="mailto:ayyadurai.agalya@gmail.com">ayyadurai.agalya@gmail.com</a></p>

        </div>
        <div class="contact-item">
            <h3>LinkedIn</h3>
            <p><a href="https://www.linkedin.com/in/agalya-ayyadurai-286517172/" target="_blank">linkedin.com/in/agalya-ayyadurai</a></p>
        </div>
        <div class="contact-item">
            <h3>GitHub</h3>
            <p><a href="https://github.com/AyyaduraiAgalya" target="_blank">github.com/AyyaduraiAgalya</a></p>
        </div>

    </div>
</section>
{% endblock %}
