{% extends "base.html" %}

{% block content %}
<section class="experience">
    <h1>Professional Experience</h1>

    <!-- Software QA Engineer Role -->
    <div class="experience-category">
        <h2>Software QA Engineer</h2>

        <p><strong><a href="https://www.sihealth.co.uk" target="_blank" rel="noopener noreferrer">siHealth Ltd</a></strong> | Didcot, UK | Aug 2020 to Present</p>
        <p><strong>Tech Stack:</strong> Python, Pytest, Selenium, Appium, Postman/Newman, JavaScript, SQL, MySQL, MySQL Workbench, AWS CodePipeline, Jira, Confluence, Bitbucket, LucidCharts, Figma, Miro</p>

        <!-- Responsibilities grouped by focus area -->
        <h3>Testing Responsibilities</h3>
        <ul>
            <li>
                <strong>Introduced and implemented the Software Testing Life Cycle (STLC):</strong> Established robust QA practices and standardized workflows within the company for the first time.
            </li>
            <li>
                <strong>Test Documentation:</strong> Created test plans, test cases, Requirements Traceability Matrices (RTMs), test summary and defect reports, ensuring comprehensive documentation and alignment with QA best practices.
            </li>
            <li>
                <strong>Conducted comprehensive manual and automation testing:</strong> Tested medical devices and CE marked mobile (iOS/Android) and web applications, covering functional, ETL, regression, performance, and exploratory testing to ensure product quality.
            </li>
            <li>
                <strong>Validated complex dose calculations:</strong> Ensured accurate dose updates for erythemal, Vitamin D, UVA, and HEV doses across 75+ combinations of factors like skin type, sunscreen, clothing and environment.
            </li>
            <li>
                <strong>Automated and executed API tests:</strong> Developed automated tests for over 200 endpoints, proactively identifying backend issues and minimising backend downtime when new APIs are implemented.
            </li>
            <li>
                <strong>Automated and executed API tests:</strong> Developed automated UI tests for both web and mobile apps, reducing regression testing time by 50% and ensuring the application works on different browsers.
            </li>
            <li>
                <strong>Reduced debugging time for developers:</strong> Analyzed Android logs using Android Studio and utilized browser developer tools to pinpoint API and frontend issues, streamlining issue resolution.
            </li>
            <li>
                <strong>Integrated automation frameworks into CI/CD pipelines:</strong> Leveraged AWS CodePipeline and Bitbucket to enable continuous testing for frequent deployments and improved overall efficiency.
            </li>
            <li>
                <strong>Mentored a junior QA engineer:</strong> Fostered a collaborative learning environment and increased team productivity by 30% through structured training sessions, hands-on guidance on both manual and automation testing practices.
            </li>
        </ul>
        <h3>Testing Domain-Specific Functionalities</h3>
        <ul>
            <li>
                <strong>Healthcare Applications:</strong> Validated patient profile management workflows, including lesion location mapping and medical image scoring. Ensured accuracy and functionality in treatment scheduling, real-time treatment monitoring systems for tracking dose intake (e.g., erythemal, ppix), and dashboards providing actionable insights through graphs and progress reports for doctors.
            </li>
            <li>
                <strong>IoT and Sun Protection Applications:</strong> Tested AI-powered indoor/outdoor detection models, verifying sensor data accuracy (e.g., GPS, accelerometer, light sensors) across diverse environments. Validated UV dose monitoring systems for tracking UVA, UVB, HEV blue light, and Vitamin D synthesis based on dynamic factors like weather, sunscreen, clothing, and location. Verified timely notifications and alerts for sunburn risk, photodamage, and Vitamin D achievement.
            </li>
            <li>
                <strong>Performance and Compliance:</strong> Conducted load and stress testing for high-traffic web portals, optimizing system performance under peak user loads. Ensured strict adherence to GDPR regulations, including data anonymization, and successfully supported the company in passing ISO 9001 audits with zero major non-conformances.
            </li>
        </ul>


        <h3>Project Management and Leadership</h3>
        <ul>
            <li>Transitioned the team from a waterfall model to Agile Scrum, reducing delivery timelines by 25% and improving team collaboration.</li>
            <li>Managed agile development and testing for 4+ healthcare and IoT projects, collaborating with cross-functional teams, stakeholders, clients and end users to deliver rightly developed and high quality software products</li>
            <li>Led sprint planning, backlog prioritization, stand-ups and retrospectives to manage agile projects, streamline workflows and resolve critical blocking issues quickly and effectively.</li>
            <li>Prepared for and successfully passed two ISO audits with zero major non-conformances, showcasing strict adherence to quality standards.</li>
        </ul>
    </div>

    <!-- Data Scientist Role -->
    <div class="experience-category">
        <h2>Data Scientist</h2>
        <p><strong><a href="https://www.sihealth.co.uk" target="_blank" rel="noopener noreferrer">siHealth Ltd</a></strong> | Didcot, UK | Jan 2024 to Present</p>
        <p><strong>Tech Stack:</strong> LightGBM, SHAP, DASH, Python, Pandas, Numpy, Matplotlib, Seaborn, Plotly, SQLAlchemy</p>

        <ul>
            <li>Developed and enhanced an indoor-outdoor detection model using mobile sensor data, improving the F1 score from 61 to 71 through advanced feature engineering.</li>
            <li>Designed an interactive Dash app for data visualization, allowing stakeholders to explore analytics and feature contributions using histograms, box plots, and violin plots.</li>
            <li>Enabled real-time model-building capabilities in the Dash app, supporting hyperparameter tuning and feature selection for immediate performance feedback.</li>
            <li>Implemented MLFlow for model deployment and reproducibility, ensuring consistent workflows from development to production.</li>
            <li>Collaborated across teams to share insights from data visualizations, driving data-driven decision-making in product development.</li>
        </ul>
    </div>

    <!-- Programmer Analyst Role -->
    <div class="experience-category">
        <h2>Programmer Analyst</h2>
        <p><strong><a href="https://www.cognizant.com/uk/en" target="_blank" rel="noopener noreferrer">Cognizant Technology Solutions</a></strong> | Chennai, India | Mar 2013 to Mar 2015</p>
        <p><strong>Tech Stack:</strong> HP ALM, SQL (OracleSQL), QC, Excel, Word, PowerPoint, WinSCP</p>

        <ul>
            <li>Conducted end-to-end testing of a health insurance web application along with validating dynamic insurance documents and ensuring data integrity.</li>
            <li>Ensured accuracy in dynamic document generation for insurance applications, validating 100+ fields for data integrity, transformation, and compliance. Reconciled data using advanced tools like VLOOKUP, macros, and SQL queries to ensure consistent mapping across systems.</li>
            <li>Designed and executed test plans for functional, integration, and regression scenarios, achieving high test coverage and defect resolution rates.</li>
            <li>Collaborated with developers to resolve defects promptly, minimizing production issues and ensuring timely project deliveries.</li>
            <li>Mentored peers in advanced Excel techniques, improving team efficiency in handling data-intensive validation tasks.</li>
            <li>Validated CRUD operations using Oracle SQL to ensure backend data consistency and accuracy.</li>
        </ul>
    </div>

    <!-- Entrepreneurial Break -->
    <div class="experience-category">
        <h2>Entrepreneur – Fashion Design and Tailoring</h2>
        <p><strong>India</strong> – <em>Mar 2015 to Sep 2019</em></p>
        <ul>
            <li>Designed and delivered custom outfits, meeting client demands with creativity and attention to detail while building a small-scale business.</li>
            <li>Managed end-to-end processes, from client consultations to product delivery, developing strong problem-solving and project management skills.</li>
        </ul>
    </div>
</section>
{% endblock %}
