{% extends "base.html" %}

{% block content %}
<section class="home">
    <h1>Welcome to my Portfolio!</h1>
    <p>
        Hi, I'm Agalya. I am a <strong>Software Test Engineer</strong> and <strong>Data Scientist</strong>, who is an ardent fan of the tech world. My passion lies in solving testing and data science problems with <strong>simple</strong>, <strong>effective</strong>, <strong>efficient</strong>, and <strong>high-quality solutions</strong>.
    </p>
    <p>
        My <strong>analytical thinking</strong> and <strong>problem-solving skills</strong> have been a cornerstone of my professional life. I thrive under tight deadlines, delivering work that is both on time and of the highest quality. Beyond technical expertise, I easily <strong>build rapport</strong> with people—a quality that has been my biggest strength. The kind-hearted people I've worked with have always had my back, and I make it a point to have theirs too.
    </p>
    <p>
        My goal is to create <strong>simple solutions for complex problems</strong>, foster a <strong>fun and safe environment</strong> with those around me, and mentor less technical ones with easy-to-understand examples and simplified tech terms.
    </p>
    <p>
        Discover more about my <a href="about">journey</a>, <a href="skills">skills</a>, <a href="experience">experience</a>, and <a href="projects">projects</a>.
    </p>
    <div class="resume-links">
        <a href="{{ url_for('static', filename='Agalya_Ayyadurai_Resume_QA.pdf') }}" class="btn" download>
            Download My QA Resume
        </a>
<!--        <a href="{{ url_for('static', filename='Agalya_Ayyadurai_Resume_DS.pdf') }}" class="btn" download>-->
<!--            Download My Data Science Resume-->
<!--        </a>-->
    </div>
    <p></p>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/agalya-ayyadurai-286517172/" target="_blank">LinkedIn</a>
        <a href="https://github.com/AyyaduraiAgalya" target="_blank">GitHub</a>
    </div>
</section>
{% endblock %}