{% extends "base.html" %}

{% block content %}
<section class="skills">
    <h1>Skills</h1>

    <div class="skills-category">
        <h2>Testing Skills</h2>
        <ul>
            <li><strong>Manual Testing:</strong> Functional, Regression, End-to-End, Exploratory and Performance Testing</li>
            <li><strong>Automation UI Testing:</strong> Selenium, Cypress, PlayWright, Appium, BDD(Cucumber/Gherkin)</li>
            <li><strong>Automation API Testing:</strong> Postman/Newman, RestSharp, RestAssured, Pytest</li>
            <li><strong>Performance Testing:</strong> JMeter</li>
            <li><strong>Test Management:</strong> JIRA, JIRA-Xray, QC, HP ALM</li>
            <li><strong>Test Documentation:</strong> Test Plans, Test Cases, RTM, Test Summary Reports, Defect Reports</li>
            <li><strong>Mobile Testing:</strong> Android Studio Logs, iOS and Android App Testing</li>
            <li><strong>Web Testing:</strong> Browser Developer Tools for API and Front-End Debugging</li>
        </ul>
    </div>

    <div class="skills-category">
        <h2>Programming Skills</h2>
        <ul>
            <li><strong>Languages for testing:</strong> Python, JavaScript, C#, Java, SQL (Oracle, MySQL, PostgreSQL)</li>
            <li><strong>Version Control:</strong> Git, GitHub, Bitbucket</li>
        </ul>
    </div>

    <div class="skills-category">
        <h2>Data Science Skills</h2>
        <ul>
            <li><strong>Machine Learning:</strong> LightGBM, LSTM, Logistic Regression, PySpark</li>
            <li><strong>Feature Engineering:</strong> Rolling Statistics, SMOTE, SHAP Analysis</li>
            <li><strong>Data Visualization:</strong> Dash, Tableau, Matplotlib, Seaborn</li>
            <li><strong>Model Deployment:</strong> MLFlow</li>
            <li><strong>Data Manipulation:</strong> Pandas, NumPy</li>
        </ul>
    </div>

    <div class="skills-category">
        <h2>Other Tools</h2>
        <ul>
            <li><strong>CI/CD:</strong> Azure DevOps, AWS CodeBuild & CodePipeline</li>
            <li><strong>Database Testing:</strong> MySQL, PostgreSQL, Oracle SQL</li>
            <li><strong>Project Management:</strong> Sharepoint, Confluence, Microsoft Teams</li>
            <li><strong>Design:</strong> Figma, LucidCharts, FigJam, Miro, Drawio</li>
        </ul>
    </div>
</section>
{% endblock %}
